#client{	
	margin:auto;
	width:45%;

	.order-form{
		border:1px solid black;
		border-radius:2px;
	}
	


	.total{
		border-top: 1px solid black;
		padding:1%;
		text-align:center;
	}

	select{
		width:100%;
	}

	.title{
		margin-left:0;
		padding-left:0;
	}



}