#mgmt{

	h3{
		color:#3c5d1e;
	}
	padding:1%;
	margin:1% 7% 1% 7%;

	.title{
		background-color:#77c530;
		width:100%;
		padding:1% 2% 2% 2%;
	}

	.order_items{
		margin-left:5%;
		padding:1%;
	}

	.prod{
		padding:1%;

	}

		input{
			width:90%;
			border:none;
			border-bottom: 2px solid #77c530;
			padding:1%;
		}

}