#home {
  margin-top:15%;

  .btn{
  	width:30%;
  	border: 2px solid $green;
  	border-radius: 5px;
  	background-color:white;
  	margin:auto;
  	text-align:center;
  	display:block;
  	margin-bottom:5%;

    &:hover{
      background-color: rgba($green, 0.2);
    }
  }
}

