<div id="client">
	<h3>Place an order</h3>
	<div class="order-form">
		<div class="order" ng-repeat="prod in products">
			<div class="col-xs-2">
				<select ng-model="prod">
					<option value="0">0</option>
				</select>
			</div>

			<div class="col-xs-2">${{prod.unit_price}}</div>
			<div class="col-xs-8">{{prod.name}}</div>
			<p class="clearfix"></p>

		</div>

		<div class="total">
			<p><b>Total: </b> ${{total}}</p>
		</div>
		<div class="center">
			<button>Submit order</button>
		</div>
	</div>

</div>