<button class="back" ui-sref="home">Back</button>

<h1>Place an Order</h1>

<div id="client">
	<div class="order-form">
		<div class="order" ng-repeat="prod in products">
			<div class="col-xs-2">
				<select ng-model="prod.order" ng-change="updateTotal()">
					<option ng-repeat="n in getNumber(prod.quantity+1) track by $index" value="{{$index}}">{{$index}}</option>
				</select>
			</div>

			<div class="col-xs-2">${{prod.unit_price}}</div>
			<div class="col-xs-8">{{prod.name}}</div>
			<p class="clearfix"></p>

		</div>

		<div class="total">
			<p><b>Total: </b> ${{total | number:2}}</p>
		</div>
		<div class="center">
			<button ng-click="submit()">Submit order</button>
		</div>
	</div>

</div>