* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


@import 'home/main';
@import 'login/main';
@import 'client/main';
@import 'mgmt/main';
