* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


.back{
	width:10%;
	border: 2px solid #77c530;
	border-radius:5px;
	padding:1%;
	background-color: rgba(#77c530, 0.3);
	margin:1%;
}

h1{
	text-align:center;
	color:#3c5d1e;
	margin-top:0;

}

.center{
	margin:auto;
	text-align:center;
	button{
		border: 2px solid #77c530;
		border-radius:5px;
		width:30%;
		padding:1%;
		background-color: rgba(#77c530, 0.3);
		margin-top:2%;
		margin-bottom: 1%;
	}
}

.even{
	background-color: rgba(#77c530, 0.3);
}

.error{
	text-align:center;
	color:#c32020;
}

@import 'home/main';
@import 'client/main';
@import 'mgmt/main';
